<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html>
    <head>
    </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Pastebin</title>
        <link rel="st ylesheet" type="text/css" href="/static/pastebin/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/pastebin/css/style.css">
        <script type="text/javascript" src="/static/pastebin/bootstrap/js/jquery-3.3.1.min.js"></script>
    </head>
    <body>
    <script>
        function copy(selector){
            var $temp = $("<div>");
            $("body").append($temp);
            $temp.attr("contenteditable", true)
                .html($(selector).html()).select()
                .on("focus", function() { document.execCommand('selectAll',false,null) })
                .focus();
            document.execCommand("copy");
            $temp.remove();
        }
    </script>
    <div class="continer">
            <br/>
            <br/>
            <form name="pastebin" method="POST">
                {% csrf_token %}                   
                    <div class="row" id="main_row">
                        <div class="col-lg-10">
                            <div id="demo" class="well well-sm">{{ new_url }}</div>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-success" style="border-radius:0"; onclick="copy('#demo');">Copy</button> 
                        </div>
                    </div>
                    <div class="row ">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="user_name">Name</label>
                                <input type="text" name="user_name" class="form-control" id="user_name"  placeholder="Enter Name">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="user_content">Content</label>
                                <textarea id="bin" name="content" class="form-control" rows="7" id="user_content"  placeholder="Enter Content"></textarea>
                            </div>
                            <br />
                            <input class="btn btn-primary" type="submit" value="Paste"  />
                        </div>
                    </div>
            </form>
      </div>
    
  </body>
</html>

        <!-- 
        <textarea id="copyfromhere" rows="5" >{{ new_url }}</textarea>
        <button class="btn" onclick="copyToClipboard('#copyfromhere')">Copy</button>
        Your name: <input type="text" name="user_name" style="height: 70%; width: 100%;" value="{% if user_name %}{{user_name}}{% endif %}" /><br />
        <textarea id="bin" name="content" rows="40" style="height: 70%; width: 100%;"></textarea><br />
        <input type="submit" value="paste" /> -->